# Data
data/
*.nc
*.tif
*.parquet

# Credentials
.env

# Model artifacts
/models/

# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Tooling caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Notebooks
.ipynb_checkpoints/
